*{
    margin:0;
    padding:0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background: #002452;
}


nav {
    width: 100%;
    height: 70px;
    align-items: center;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    /* border: 1px solid red; */
    margin:auto;

    border-bottom: 1px solid #aaa;

}


nav a{
    text-decoration: none;
    color:white;
    font-size: 1.3em;
    /* padding: 20px; */
    /* border:1px solid black; */
    /* background: #125ff2; */
    text-align: center;

    padding:10px;
    margin: 0 30px;

    border-radius: 15px;
    transition: .4s ease all;
}

nav a:hover{
    color:rgba(0,0,0,0.5);
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 3em;
}

.thin-text{
    font-weight: 300;
}

.container{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.shorten{
    margin-top: 20px;
    height: 50px;
    display: flex;


}
.shorten-link-input{
    height: 100%;

    width: 450px;

    background-color: #f0e9d8;
    outline:none;
    border:none;
    color:#002452;
    font-size: 20px;
    padding:20px;
    box-sizing: border-box;
}

.shorten-link-button{
    height: 100%;
    font-size: 20px;
    background-color: #125ff2;
    outline: none;
    border:none;
    padding:10px;
    color:#fff;
    transition: .3s ease all;

}

.shorten-link-button:hover{
    background:rgba(71,152,223,.5);
    cursor:pointer;

}

.white-text{
    color:#fff;
}
